# Git i dev tools
.git
.gitignore
src/config/.env
README.md
docs/

# Dane i volumes (mapuj osobno)
data/
neo4j_data/
neo4j_data_new/

# Śmieci i cache
__pycache__/
*.pyc
*.pyo
*.log
.pytest_cache/
Scratches and Consoles/
External libraries.txt

# Docker
frontend.Dockerfile
docker-compose*.yaml
.dockerignore

# Inne
*.DS_Store
Thumbs.db

src/app.log