DB_USER=
DB_PASSWORD=
DB_URI=
DB_DATABASE=

# USE ABSOLUTE PATHS
RAW_DATASET_PATH=


AZURE_OPENAI_MODEL=
AZURE_OPENAI_EMBEDDING_MODEL=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
OPENAI_API_VERSION=

